@using DayTripNJ.Shared.Models
@using System.Web
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@using Blazored.Modal
@using Blazored.Modal.Services
@using DayTripNJ.Shared
@using DayTripNJ.App.Pages
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager;
@inject HttpClient Http;
@inject IJSRuntime Js;

<EditForm Model="@_model" OnValidSubmit="@SubmitPin">

    <div>
        <InputText placeholder="Title..." @bind-Value="@_model.Title"/>
    </div>

    <div>
        <InputTextArea placeholder="Description..." @bind-Value="@_model.Description"/>
    </div>

    <div>
        <label>Expires In:</label>
        <InputSelectEnum @bind-Value="_expiresOptions"/>
    </div>
    <div>
        <label>Type:</label>
        <InputSelectEnum @bind-Value="_model.Kind"/>
    </div>
    <div>
        <label class="file-upload">Upload Image...
            <InputFile OnChange="@OnFileChanged"/>
        </label>
    </div>

    <div>
        <button type="submit">Post</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public (double, double) Position { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    private Pin _model = new();
    private IBrowserFile _image;
    private ExpiresOptions _expiresOptions;

    private static Dictionary<ExpiresOptions, TimeSpan> ExpiresTimes = new()
    {
        [ExpiresOptions.OneHour] = TimeSpan.FromHours(1),
        [ExpiresOptions.ThreeHours] = TimeSpan.FromHours(3),
        [ExpiresOptions.TwelveHours] = TimeSpan.FromHours(12),
        [ExpiresOptions.OneDay] = TimeSpan.FromDays(1),
    };

    enum ExpiresOptions
    {
        [Display(Name = "1 Hour")] OneHour,
        [Display(Name = "3 Hours")] ThreeHours,
        [Display(Name = "12 Hours")] TwelveHours,
        [Display(Name = "1 Day")] OneDay
    }

    public async Task OnFileChanged(InputFileChangeEventArgs e)
    {
        _image = e.File;
    }

    // Uploads the IBrowserFile to the server and returns the url
    private async Task<string> UploadImage()
    {
        var fileContent = new StreamContent(_image.OpenReadStream(8192000));
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(_image.ContentType);
        var result = await Http.PostAsync("Pin/UploadImage", fileContent);
        var fileUrl = await result.Content.ReadAsStringAsync();
        return fileUrl;
    }

    private async Task SubmitPin()
    {
        if (_image != null)
        {
            string imgUrl = await UploadImage();
            _model.Image = Http.BaseAddress +  imgUrl;
            Console.WriteLine(_model.Image);
        }
        DateTime expires = DateTime.UtcNow + ExpiresTimes[_expiresOptions];
        _model.Expires = expires;
        _model.Position = DayTripNJ.Shared.Position.FromTuple(Position);

        await Http.PostAsJsonAsync("Pin/Create", _model);
        Console.WriteLine("Pin received");
        await Js.InvokeVoidAsync("placePin", _model);
        Console.WriteLine($"Posted pin {_model.ToString()}");
        await ModalInstance.CloseAsync(ModalResult.Ok("Submitted Successfully"));
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}